<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>Have a bread!</display-name>
	<description>bread</description>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>createLog</servlet-name>
		<servlet-class>com.foxshooter.servlet.CreateLogServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>createLog</servlet-name>
		<url-pattern>/createLog</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchLogServlet</servlet-name>
		<servlet-class>com.foxshooter.servlet.SearchLogServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SearchLogServlet</servlet-name>
		<url-pattern>/searchLog</url-pattern>
	</servlet-mapping>
</web-app>
